@import "general";

.info {
  min-height: 625px;
  padding-bottom: 25px;
}

.info-content {
  display: flex;
  padding-top: 80px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h2 {
    font-family:$generalFont;
    font-weight: 300;
    font-size: 13px;
    margin-bottom: 40px;
    text-transform: uppercase;
  }
  h3,p {
    font-family:$highlightFont;
    font-size: 13px;
  }
}