@import "general";

.product-content {
  padding: 115px 0;
  display: flex;
  flex-direction: column;
}

.product {
  display: flex;
  flex-direction: row;
}

.product-categories {
  flex:1 0 0;
  ul {
    padding: 0;
    margin-top:50px;
    list-style: none;
  }
  li {
    margin-bottom:30px;
  }
  a {
    text-transform: uppercase;
    color: #000;
    text-decoration: none;
    font-family:$generalFont;
    font-size: 12px;
    font-weight: 300;
    transition: all 0.3s ease;
    &:hover {
      color: $highlightColor;
      text-decoration: underline;
      transition: all 0.3s ease;
    }
  }
}

.heading-link {
  text-decoration: none;
  color: #000000;
  font-family:$generalFont;
  font-size: 14px;
  font-weight: 300;
  margin: 25px 0 0 0;
  text-transform: uppercase;
}

.product-info {
  flex:3 0 0;
}
.space {
  flex:0.5 0 0;
}

.product-main {
  border: 1px solid #000;
  display: flex;
  margin-bottom: 40px;
}

.product-image,.product-main-desc {
  min-height: 400px;
  position: relative;
  flex: 1 0 0;
  max-width: 50%;
}

.product-image {
  background-size: cover;
  background-position: 0 0;
}

.product-main-desc {
  h1,p {
    text-transform: uppercase;
    font-weight:400;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    margin: 15px 0 15px 20px;
    font-family:$highlightFont;
    font-size: 22px;
  }
  p:first-child {
    margin-bottom: 0;
  }
  a {
    display: inline-block;
    line-height: 40px;
    text-align: center;
    margin-top: 70px;
    width: 220px;
    height: 40px;
    border: 1px solid #000;
    text-transform: uppercase;
    font-family:$generalFont;
    font-size: 14px;
    font-weight: 300;
    outline: none;
    text-decoration: none;
    color: #000;
    margin-left: 20px;
    cursor: pointer;
    transition: .4s all;
    &:hover {
      border: 1px solid $highlightColor;
      color: $whiteColor;
      background-color: $highlightColor;
      transition: .4s all;
    }
  }
}

.product-main-desc {
  .product-price {
    margin-top: 70px;
  }
}

.product-desc {
  span,p {
    font-family:$highlightFont;
    font-size: 14px;
    font-weight: 600;
  }
  span {
    margin-bottom: 25px;
  }
}

.product-desc-heading {
  margin-bottom: 0;
  text-transform: uppercase;
}

.related-products {
  h3 {
    text-align: center;
    margin-top: 100px;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 300;
    font-family: $generalFont;
  }
  .latest-products {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
  }
}

.related-product {
  margin-bottom: 20px;
  flex:1 0 0;
  max-width: 33.333334%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  transition: .4s all ease-out;
  transition-delay: 0.2s;
  &:hover {
    outline: 1px solid black;
    transition-delay: 0.2s;
    transition: .4s all ease-out;
  }
  h4 {
    margin-top: 55px;
    margin-bottom: 5px;
    text-align: center;
    font-family:$generalFont;
    font-weight: 300;
  }
  span {
    display: block;
    text-align: center;
    font-family:$generalFont;
    font-weight: 300;
  }

  a:last-child {
    margin-top: auto;
    margin-bottom: 20px;
    font-weight: 300;
    font-size: 14px;
    width: 220px;
    height: 40px;
    align-self:center;
    text-transform: uppercase;
    text-decoration: none;
    font-family:$generalFont;
    border: 1px solid #000;
    color: #000;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    transition: all 0.4s ease-out;
    transition-delay: 0.2s;
    &:hover {
      transition-delay: 0.2s;
      color: $whiteColor;
      background-color: $highlightColor;
      border:1px solid $highlightColor;
      transition: all 0.4s ease-out;
    }
  }
}

.related-product-image {
  z-index: -1;
  height: 410px;
  width: 100%;
  background-position: 0 0;
  background-size: cover;
}

.product-price-unknown {
  margin: 1rem 0;
  text-align: center;
  display: block;
  color: #000;
  font-family:$highlightFont;
  font-size: 14px;
  text-decoration: none;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  &:hover {
    text-decoration: underline;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
}

@media screen and (max-width: 450px) {
  .product {
    flex-direction: column;
  }
  .product-image,.product-main-desc {
    min-width: 100%;
  }
  .product-categories {
    text-align: center;
  }
  .product-info {
    display: flex;
    flex:auto;
    flex-direction: column;
  }
  .product-main {
    flex-direction: column;
  }
  .related-products .latest-products {
    flex-wrap: wrap;
  }
  .product-content {
    padding-bottom:40px;
  }
  .related-product {
    max-width: 100%;
  }
}
